[Unit]
Description=Data Container

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill datacontainer
ExecStartPre=-/usr/bin/docker rm -rf datacontainer
ExecStartPre=/usr/bin/docker pull kewenrj1/virtualisation_assn1_data
ExecStart=/usr/bin/docker run --rm --name datacontainer kewenrj1/virtualisation_assn1 -D FOREGROUND

# Stop
ExecStop=/usr/bin/docker stop datacontainer

[X-Fleet]
# Don't schedule on the same machine as other instances
X-Conflicts=datacontainer@*.service

