[Unit]
Description=Apache Web Server
After=data@%i.service
Requires=data@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill apache1
ExecStartPre=-/usr/bin/docker rm apache1
ExecStartPre=/usr/bin/docker pull kewenrj1/virtualisation_assn1_webserver
ExecStart=/usr/bin/docker run --volumes-from data -rm --name apache1 -p 80:80 kewenrj1/virtualisation_assn1_webserver
ExecStop=/usr/bin/docker stop apache1

[X-Fleet]
X-Conflicts=apache1@*.service

MachineOf=data@%i.service
