[Unit]
Description=Apache Web Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill apache1
ExecStartPre=-/usr/bin/docker rm apache1
ExecStartPre=/usr/bin/docker pull kewenrj1/virtualisation_assn1_webserver
ExecStart=/usr/bin/docker run --rm --name apache1 -p 80:80 kewenrj1/virtualisation_assn1_webserver /usr/sbin/apache2ctl -D FOREGROUND
ExecStop=/usr/bin/docker stop apache1

[X-Fleet]
X-Conflicts=apache@*.service